.p1{

color: rgb(255, 0, 76);
background-color: rgb(255, 159, 95);
}
.p2{
    
    color:  rgb(255, 0, 76);
    background-color:  rgb(255, 159, 95);
}
    
#box1
{
	margin-top: 20px; 
    margin-bottom: 20px; 
    background-color:rgb(255, 145, 125);
}
#box2
{
	margin-top: 20px; 
    margin-bottom: 20px; 
    background-color: rgb(255, 145, 125);
}

input
{
	margin: 10px;
}
#paragraph{
    display: inline;
    float: left;
}
